// Colors
$white: #fff;
$black: #000;
$dark: #242322;
$copy-color: #666;
$dark-grey: #161616;
$medium-grey: #262626;
$light-grey: #999;
$lighter-grey: #f7f7f7;
$link-color: #336699;

// Fonts
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// $font-headings: "Roboto", Arial, Helvetica, Tahoma, sans-serif;
// $font-serif: Georgia, serif;

// Media queries

$width-small: 48em; /* Small devices (tablets, 768px and up) */
$width-medium: 62em; /* Medium devices (desktops, 992px and up) */
$width-large: 75em; /* Large devices (large desktops, 1200px and up) */

$mobile-first: "screen and (max-width: 47.9375em)";

// Retina images

 $is-hidpi: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)";