@import "../node_modules/normalize.scss/normalize.scss";
@import "variables.scss";
@import "mixins.scss";

* {
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

body {
	background: $dark;
	color: #555;
	font-family: $font-stack;
	text-rendering: optimizeLegibility;

	&.category,
	&.single-post,
	&.page-template-page-blog {
		background-color: $link-color;
	}

	&.page-template-page-landing {
		background-color: $dark;
	}
}

/* .share */

section {
	background: $white;
}

a {
	color: inherit;
	text-decoration: none;

	@include transition(all, 1s, ease);

	img {
		transform: translateZ(0);
	}
}

.vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	.page-template-page-about &,
	.page-template-page-what-i-do & {
		background: transparent;
		text-align: center;
	}
}

.clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.align-center {
	text-align: center;
}

.offscreen {
	border: 0;
	clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
	clip: rect(1px, 1px, 1px, 1px);
	height: 0.063em; /* 1/16 */
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 0.063em; /* 1/16 */
}

.wp-embedded-content {
	width: 100%;
}

%contentcolumn {
	margin: 1.2em auto;
	max-width: 50rem;
}

code {
	background-color: $lighter-grey;
    border-radius: 0.25em; /* 4/16 */
	display: block;
	font-size: .8em;
	line-height: 1.42857143;
	margin: 0 0 1em;
    padding: 1em;
    word-break: break-all;
    word-wrap: break-word;
}

.scroll-top {
	text-align: center;
}

.btn,
.pushbutton-wide {
	border: 1px solid!important;

	@extend %button;

	@include transition(all, .5s, ease);
}

/* Header */

.header-inner {
	display: table;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0;
	padding-left: 0;
	position: relative;
	width: 100%;
	z-index: 9999!important;

	@include responsive(small-screens) {
		padding-right: 1.563em; /* 25/16 */
		padding-left: 1.563em; /* 25/16 */
		width: 55%;
	}

	> div {
		float: none;
		padding-left: 0;
		text-align: center;

		@include responsive(small-screens) {
			display: table-cell;
			padding-top: 0.7em;
			text-align: left;
		}

		@include responsive(medium-screens) {
			padding-top: 2em;
		}

		a {
			color: $lighter-grey;
			display: inline-block;
			font-size: 2em;
			font-weight: 700;
			letter-spacing: -0.063em; /* -1/16 */
			margin: 0;
			text-transform: lowercase;
			vertical-align: middle;

			@include responsive(small-screens) {
				font-size: 4em;
			}

			.single-galleries &,
			.page-template-page-about &,
			.page-template-page-what-i-do & {
				color: $white;
			}
		}
	}
}

nav {
	display: block;
	float: none;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	vertical-align: middle;

	@include responsive(small-screens) {
		display: table-cell;
	}

	@include responsive(medium-screens) {
		font-size: 1.4em;
	}

	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
		text-align: center;

		@include responsive(small-screens) {
			text-align: right;
		}
	}

	li {
		display: inline-block;
		line-height: 1;

		@include responsive(small-screens) {
			&:last-child {
				a {
					padding-right: 0;
				}
			}
		}

		a {
			color: $white;
			display: block;
			padding: 1em 0.5em;

			&:hover {
				text-decoration: underline;
			}

			@include responsive(small-screens) {
				padding: 3em 1em;
			}
		}

		&.current-menu-item {
			a {
				text-decoration: underline;
			}
		}
	}
}

.single-galleries,
.tax-genre,
.tax-country {
	.menu-item-16 {
		a {
			text-decoration: underline;
		}
	}
}

.page-template-page-about {
	.menu-item-17 {
		a {
			text-decoration: underline;
		}
	}
}

/* Content */

.wrap {
	overflow: hidden;
	margin: 0;
	background: $dark;
}

.box {
	background: #333;
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 100%;

	@include responsive(small-screens) {
		width: 50%;
		padding-bottom: 50%;
	}

	@include responsive(medium-screens) {
		width: 25%;
		padding-bottom: 25%;
	}
}

.box-inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;

	&:hover {
		img {
			@include responsive(small-screens) {
				@include transform-scale(1.25, 1.25);
			}
		}
	}

	img {
		width: 100%;

		@include transition(all, 1s, ease);
	}

	h1,
	h2,
	h3 {
		font-weight: 400!important;
		font-size: 1.6em!important;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin-bottom: 0;
		background: $dark;
		background: rgba(0, 0, 0, 0.5);
		color: $white!important;
		padding: 0.625em!important; /* 10/16 */
		text-align: center;
		text-transform: none!important;

		.gallery-content & {
			font-size: 1.2em!important;
			margin: 0;
		}
	}
}

.load-more {
	text-align: center;
	text-transform: uppercase;

	a {
		color: $white;
		display: block;
		background: #777;
		padding: 2em 0;

		&:hover {
			background: #666;
			color: $dark;
		}
	}
}

/* Single Gallery */

.dark-header,
.error404 header[role=banner] {
	a {
		color: $dark!important;
	}
}

.gallery-cover {
	box-sizing: border-box;
	height: 100vh;
	margin-top: -5.3125em; /* -85/16 */
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	@include responsive(small-screens) {
		margin-top: -7em; /* -112/16 */
	}

	@include responsive(medium-screens) {
		margin-top: -9.75em; /* -156/16 */
	}

	/* iPad with portrait orientation. */
	@media all and (device-width: 48em) and (device-height: 64em) and (orientation:portrait) { /* 768/16, 1024/16 */
		height: 64em; /* 1024/16 */
	}

	/* iPad with landscape orientation. */
	@media all and (device-width: 48em) and (device-height: 64em) and (orientation:landscape) { /* 768/16, 1024/16 */
		height: 48em; /* 768/16 */
	}

	/* iPhone 5 You can also target devices with aspect ratio. */
	@media screen and (device-aspect-ratio: 40/71) {
		height: 31.25em; /* 500/16 */
	}

	/* iPhone 3 CSS rules here */
	@media only screen and (device-width: 20em) and (device-height: 30em) and (-webkit-device-pixel-ratio: 1) { /* 320/16, 480/16 */
		height: 20em; /* 320/16 */
    }

	div {
		padding: 0.5em;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin-bottom: 0;
		background: $dark;
		background: rgba(0,0,0,0.6);

		@include responsive(small-screens) {
			padding: 1em;
		}
	}

	h1 {
		font-size: 1.3em;
		font-weight: 300;
		text-align: center;
		color: $white;
		text-transform: uppercase;
		margin: 0;

		@include responsive(small-screens) {
			font-size: 1.8em;
			margin: 0.2em 0;
		}

		@include responsive(medium-screens) {
			font-size: 2.5em;
		}

		span {
			font-size: 0.8em;
		}
	}

	p {
		color: #999;
		text-align: center;
		margin: 0.5em 0;

		@include responsive(small-screens) {
			font-size: 1.2em;
			margin: 1em 0;
		}

		a {
			font-weight: 700;

			&:hover {
				color: $white;
			}
		}

		span {
			display: block;

			.single-galleries &,
			.page-template &,
			.page-template-default & {
				display: inline;
			}
		}
	}
}

/* About */

%button {
	border: 0;
	border-bottom-width: 0;
	border-radius: 0.2em;
	cursor: pointer;
	display: inline-block;
	padding: 0.6em .6em;
	outline: 0;
	text-decoration: none!important;

	@include responsive(small-screens) {
		padding: 0.8em 1.2em;
	}
}

.page-template-page-about,
.page-template-page-what-i-do {
	.gallery-cover {
		h2 {
			color: $white;
			font-size: 1.4em;
			margin-top: 1em;

			@include responsive(small-screens) {
				font-size: 2.4em;
				margin-top: 2em;
			}
		}
	}
}

.about-get-in-touch {
	margin: 0;
	padding: 0;

	li {
		padding: 0.4em;
		display: inline-block;

		a {
			background-color: rgba(0,0,0,0.4);
			color: $white;
			border: 0.063em solid #999; /* 1/16 */
			text-transform: uppercase;
			width: 6em;

			@extend %button;

			&:hover {
				border: 0.063em solid $white; /* 1/16 */
			}
		}
	}
}

%text-styles {
	// font-family: georgia, serif;
	padding: 0 5%;
	font-size: 1.1em;
	line-height: 1.45em;

	@include responsive(small-screens) {
		padding: 0 10%;
		font-size: 1.2em;
		line-height: 1.45em;
	}

	@include responsive(medium-screens) {
		padding: 0 15%;
		font-size: 1.3em;
		line-height: 1.55em;
	}

	@include responsive(large-screens) {
		padding: 0 20%;
		font-size: 1.4em;
		line-height: 1.65em;
	}
}

.about-content,
.gallery-content {
	@extend %text-styles;
	background: $white;

	p,
	ul,
	ol,
	cite {
		a {
			color: $link-color;
			text-decoration: underline;

			&:hover {
				background: yellow;
			}
		}
	}

	h2,
	h3 {
		color: $black;
		font-weight: 700;
		text-align: center;
		padding: .6em 0 .2em 0;
	}

	/* .share, */
	.content-column,
	h1,
	h2,
	h3,
	p,
	ul,
	ol,
	iframe,
	blockquote,
	.gist,
	.fb-post,
	#disqus_thread,
	#mc_embed_signup,
	twitterwidget,
	#_giphy_tv,
	[id*="contact-form"] {
		@extend %contentcolumn;
	}

	.img-wrap {
		display: block;
		max-width: 60rem!important;
		margin: 0 -1em;

		@include responsive(small-screens) {
			margin: 2.4em auto 1.2em auto;
		}

		.alignnone {
			display: block;
			padding-bottom: 0.4em;

			@include responsive(small-screens) {
				padding-bottom: 0;
			}
		}

		.aligncenter {
			display: block;
			max-width: 45rem!important;
			padding-bottom: 0.4em;

			@include responsive(small-screens) {
				margin: 0 auto;
				padding-bottom: 0;
			}
		}

		.alignleft,
		.alignright {
			@include responsive(small-screens) {
				max-width: 49%;
			}
		}

		.alignleft {
			@include responsive(small-screens) {
				float: left;
			}
		}

		.alignright {
			@include responsive(small-screens) {
				float: right;
			}
		}
	}

	.tiled-gallery {
		max-width: 80rem!important;

		@include responsive(small-screens) {
			margin: 2.4em auto 1.2em auto;
		}
	}

	.excerpt {
		color: $dark;

		&:after {
			content: " ";
			display: block;
			height: 0.063em; /* 1/16 */
			background: #999;
			width: 15%;
			margin: 1em auto 0 auto;

			@include responsive(small-screens) {
				margin: 2em auto 0 auto;
			}
		}

		@include responsive(small-screens) {
			font-size: 1.1em;
			line-height: 1.55em;
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

.about-content {
	padding: 1em;

	@include responsive(small-screens) {
		padding: 3em 1em;
	}
}

.gallery-content {
	padding: 1em 1em 0 1em;

	@include responsive(small-screens) {
		padding: 3em 1em 0 1em;
	}
}

.related {
	margin: 0 -1em!important;
}

/* Photos */

.genre-block {
	background: $dark;
	text-align: center;

	p {
		color: #999;

		@extend %text-styles;
	}

	h1 {
		font-size: 2em;
		padding: 0.5em;
		font-weight: 300;
		color: $white;
		text-transform: uppercase;
		margin-bottom: 0;
		padding-bottom: 0;
		
		a {
			&:after {
				content: "→";
				position: relative;
				display: inline-block;
				top: -0.1em;
				left: 0.2em;
			}
		}

		@include responsive(small-screens) {
			font-size: 3em;
		}

		@include responsive(medium-screens) {
			font-size: 4em;
		}
	}
}

/*
.share {
	text-align: center;

	&:before {
		content: " ";
		display: block;
		height: 0.063em;
		background: #999;
		width: 15%;
		margin: 0 auto;
	}

	a {
		color: $white;
		font-size: 0.8em;
		text-align: center;
		width: 9em;
		display: block;
		margin: 1em auto;

		@extend %button;

		@include responsive(small-screens) {
			display: inline;
			margin: 0 .5em;
		}

		&:hover {
			@include opacity(.8);
		}

		&.share-facebook {
			background: #3b5998;
		}

		&.share-twitter {
			background: #0096c4;
		}

		&.share-google {
			background: #d34836;
		}
	}
}
*/

/* Quotes */

blockquote {
	padding: 0.5em;
	quotes: "\201C""\201D";

	&:before {
		color: #ccc;
		content: open-quote;
		font-size: 6em;
		line-height: 0.1em;
		margin-right: 0.1em;
		vertical-align: -0.4em;
	}

	p {
		font-size: 1.2em;
		display: inline;
	}

	footer {
		text-align: right;
	}
}

/* What I Do */

.what-i-do {
	clear: both;
	list-style: none;
	overflow: hidden;
	padding: 0;

	&:before {
		content: " ";
	    display: block;
	    height: 0.063em;
	    background: #999;
	    width: 15%;
	    margin: 1em auto;
	}

	@include responsive(small-screens) {
		&__item {
			border: none;
			box-sizing: border-box;
			float: left;
			padding: 1em;
			width: 50%;

			&:nth-of-type(2n+1) {
				clear: left;
			}

			p {
				&:last-child {
					margin-bottom: 0;
    			}
			}
		}
	}

	&__link {
		color: $dark!important;
	    display: block;
	    margin: -1em;
	    padding: 1em;
	    cursor: pointer;
	    overflow: hidden;
	    text-decoration: none!important;

	    @include transition(background, 0.1s, ease-out);

	    h3 {
		    font-weight: 700;
			margin: 0;
			padding: 0;
			text-align: left;
    	}
	}
}

/* Blog */

.category,
.single-post,
.page-template-page-blog,
.page-template-page-landing {
	.about-content {
		padding-top: 1em;
		padding-bottom: 1em;

		header {
			p {
				font-size: 90%;
				text-align: center;

				@include responsive(small-screens) {
					font-size: 75%;
				}
			}
		}
	}

	h1 {
    	font-size: 1.3em;
		font-weight: 400;
		line-height: normal;
		text-align: center;
		text-transform: none;
		margin: 0.8em auto;

		@include responsive(small-screens) {
			font-size: 1.6em;
		}

		@include responsive(medium-screens) {
			font-size: 2em;
		}

    	a {
	    	&:hover {
		    	text-decoration: underline;
	    	}
    	}
	}
}

.single-post,
.category {
	.menu-item-1313 {
		a {
			text-decoration: underline;
		}
	}
}

.single-post {
	a {
		@include word-wrap();
	}

	p {
		&.img-wrap {
			max-width: 50rem!important;
			margin: 1.2em auto;
		}
	}
}

.sep {
	color: $light-grey;
	display: block;
	line-height: .5em;
	margin: 0 .2em;

	@include responsive(small-screens) {
		display: inline;
	}
}

.player {
	position: relative;
	padding-top: 56.25%;
	
	video,
	iframe,
	object,
	embed {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}
}

#mc_embed_signup {
	background-color: rgba(255, 255, 0, 0.15);
}

/* Landing Pages */

[id*="contact-form"] {
	select,
	input[type='text'],
	input[type='email'],
	textarea {
		border: 1px solid $light-grey;
		margin-bottom: .5em;
		max-width: 20em;
		padding: 0.125em 0.375em;
		width: 96%!important;

		@include responsive(small-screens) {
			max-width: 48em;
		}

		@include responsive(medium-screens) {
			max-width: 62em;
		}
	}

	input[type='text'],
	input[type='email'],
	textarea {
		font-size: 1.2em;

		@include rounded(0);

		@include shadow-inset(1px, 2px, 0, rgba(0,0,0,.07));
	}

	textarea {
		height: 14em;
		margin: 0!important;
	}

	h3 {
		color: green;

		a {
			color: $link-color;
		}
	}

	.contact-form-submission {
		&:before {
			content: " ";
		}
	}

	.pushbutton-wide {
		margin: 0;
	}
}

.pushbutton-wide {
	background-color: $link-color;
	color: $white!important;
	font-size: .8em;

	margin: 1.5em 0 0.7em 0;

	@include opacity(1);

	@include responsive(small-screens) {
		font-size: 1em;

		margin: 3em 0 1.5em 0;
	}

	&:hover {
		background-color: $link-color!important;

		@include opacity(.7);
	}
}

/* Footer */

.footer-foo {
	margin: 0;
	padding: 2em 1em;
	background: $dark;
	color: #999;
	text-align: center;

	@include responsive(small-screens) {
		padding: 3em 3em 4em 3em;
	}

	a {
		&:hover {
			color: $white;
		}
	}
}

.footer-copyright,
.footer-social {
	list-style: none;
	padding: 0;
}

.footer-item {
	display: inline-block;

	&:first-child {
		margin-right: 0.2em;
	}
}

.footer-social {
	margin: 2em 0 0 0;

	@include responsive(medium-screens) {
		float: left;
		margin: 0;
	}

	li {
		display: inline-block;
		
		a {
			padding-left: 1em;
		}

		&:first-child {
			a {
				padding-left: 0;
			}
		}
	}
}

.footer-copyright {
	margin: 0;
    padding: 0 0 1em 0;

	a {
		&:hover {
			span {
				color: red;
			}
		}
	}

	span {
		display: inline-block;
	}

	@include responsive(medium-screens) {
		float: right;
	}
}

/* Instagram */

#sb_instagram,
#sb_instagram.sbi_fixed_height {
	box-sizing: border-box;
}

#sb_instagram{width:100%;margin:0 auto;padding:0;box-sizing:border-box}#sb_instagram:after{content:"";display:table;clear:both}#sb_instagram.sbi_fixed_height{overflow:hidden;overflow-y:auto;box-sizing:border-box}#sb_instagram #sbi_images{width:100%;float:left;box-sizing:border-box}#sb_instagram #sbi_images .sbi_item{display:inline-block;vertical-align:top;zoom:1;padding:inherit!important;margin:0!important;text-decoration:none;box-sizing:border-box}#sb_instagram.sbi_col_1 #sbi_images .sbi_item{width:100%}#sb_instagram.sbi_col_2 #sbi_images .sbi_item{width:50%}#sb_instagram.sbi_col_3 #sbi_images .sbi_item{width:33.33%}#sb_instagram.sbi_col_4 #sbi_images .sbi_item{width:25%}#sb_instagram.sbi_col_5 #sbi_images .sbi_item{width:20%}#sb_instagram.sbi_col_6 #sbi_images .sbi_item{width:16.66%}#sb_instagram.sbi_col_7 #sbi_images .sbi_item{width:14.28%}#sb_instagram.sbi_col_8 #sbi_images .sbi_item{width:12.5%}#sb_instagram.sbi_col_9 #sbi_images .sbi_item{width:11.11%}#sb_instagram.sbi_col_10 #sbi_images .sbi_item{width:10%}#sb_instagram.sbi_col_1.sbi_disable_mobile #sbi_images .sbi_item{width:100%}#sb_instagram.sbi_col_2.sbi_disable_mobile #sbi_images .sbi_item{width:50%}#sb_instagram.sbi_col_3.sbi_disable_mobile #sbi_images .sbi_item{width:33.33%}#sb_instagram.sbi_col_4.sbi_disable_mobile #sbi_images .sbi_item{width:25%}#sb_instagram.sbi_col_5.sbi_disable_mobile #sbi_images .sbi_item{width:20%}#sb_instagram.sbi_col_6.sbi_disable_mobile #sbi_images .sbi_item{width:16.66%}#sb_instagram.sbi_col_7.sbi_disable_mobile #sbi_images .sbi_item{width:14.28%}#sb_instagram.sbi_col_8.sbi_disable_mobile #sbi_images .sbi_item{width:12.5%}#sb_instagram.sbi_col_9.sbi_disable_mobile #sbi_images .sbi_item{width:11.11%}#sb_instagram.sbi_col_10.sbi_disable_mobile #sbi_images .sbi_item{width:10%}#sb_instagram .sbi_photo_wrap{position:relative}#sb_instagram .sbi_photo{display:block;text-decoration:none}#sb_instagram .sbi_photo img{width:100%;height:auto}#sb_instagram a,#sb_instagram a:active,#sb_instagram a:focus,#sb_instagram a:hover{outline:0}#sb_instagram img{display:block;padding:0!important;margin:0!important;max-width:100%!important;opacity:1!important}#sb_instagram .sbi_link{display:none;position:absolute;bottom:0;right:0;width:100%;padding:10px 0;background:rgba(0,0,0,.5);text-align:center;color:#fff;font-size:12px;line-height:1.1}#sb_instagram .sbi_link a{padding:0 6px;text-decoration:none;color:#fff;font-size:12px;line-height:1.1;display:inline-block;vertical-align:top;zoom:1}#sb_instagram .sbi_link .sbi_lightbox_link{padding-bottom:5px}#sb_instagram .sbi_link a:focus,#sb_instagram .sbi_link a:hover{text-decoration:underline}#sb_instagram .sbi_photo_wrap:focus .sbi_link,#sb_instagram .sbi_photo_wrap:hover .sbi_link{display:block}#sb_instagram .sbi_type_video .sbi_playbtn{display:block!important;position:absolute;z-index:0;top:50%;left:50%;margin-top:-24px;margin-left:-19px;padding:0;font-size:48px;color:#fff;color:rgba(255,255,255,.9);font-style:normal!important;text-shadow:0 0 8px rgba(0,0,0,.8)}#sb_instagram .sbi_loader{position:relative;left:50%;width:16px;height:16px;margin:10px 0 10px -8px;background:url(../img/loader.png) no-repeat}#sb_instagram .sb_instagram_header{float:left;clear:both;margin:0 0 15px;padding:0;line-height:1.2;width:100%}#sb_instagram .sb_instagram_header a{float:left;display:block;min-width:100%\9;text-decoration:none}#sb_instagram .sbi_header_img{float:left;position:relative;width:50px;margin:0 0 0 -100%!important;overflow:hidden;border-radius:40px}#sb_instagram .sbi_header_img img{float:left;margin:0!important;padding:0!important;border:none!important;border-radius:40px}#sb_instagram .sbi_header_img_hover{position:absolute;width:100%;top:0;bottom:0;left:0;text-align:center;color:#fff;background:rgba(0,0,0,.75);filter:alpha(opacity=0);-khtml-opacity:0;opacity:0;border-radius:40px;transition:opacity .2s}#sb_instagram .sb_instagram_header a:focus .sbi_header_img_hover,#sb_instagram .sb_instagram_header a:hover .sbi_header_img_hover{opacity:1}#sb_instagram .sbi_header_img_hover i{position:absolute;top:50%;left:50%;margin-top:-12px;margin-left:-12px;width:24px;height:24px;overflow:hidden;background:url(../img/small-logo.png) no-repeat}#sb_instagram .sbi_header_text{float:left;width:100%;padding-top:5px}#sb_instagram .sbi_header_text .sbi_bio,#sb_instagram .sbi_header_text h3{float:left;clear:both;width:auto;margin:0 0 0 60px!important;padding:0!important}#sb_instagram #sbi_load,#sb_instagram .sb_instagram_error{width:100%;text-align:center}#sb_instagram .sb_instagram_header h3{font-size:16px;line-height:1.3}#sb_instagram .sb_instagram_header p{font-size:13px;line-height:1.3}#sb_instagram .sb_instagram_header h3.sbi_no_bio{padding-top:9px!important}#sb_instagram .sbi_header_text img.emoji{margin-right:3px!important}#sb_instagram #sbi_load{float:left;clear:both}#sb_instagram #sbi_load .sbi_load_btn,#sb_instagram .sbi_follow_btn a{display:inline-block;vertical-align:top;zoom:1;padding:7px 14px;margin:5px auto 0;background:#333;border:none;color:#fff;text-decoration:none;font-size:13px;line-height:1.5;border-radius:4px;box-sizing:border-box}#sb_instagram .sbi_follow_btn{display:inline-block;vertical-align:top;zoom:1;text-align:center}#sb_instagram .sbi_follow_btn.sbi_top{display:block;margin-bottom:5px}#sb_instagram .sbi_follow_btn a{background:#517fa4;color:#fff}#sb_instagram #sbi_load .sbi_load_btn:focus,#sb_instagram #sbi_load .sbi_load_btn:hover,#sb_instagram .sbi_follow_btn a:focus,#sb_instagram .sbi_follow_btn a:hover{filter:alpha(opacity=85);opacity:.85}#sb_instagram #sbi_load .fa,#sb_instagram .sbi_follow_btn .fa{margin-bottom:-1px;margin-right:7px;font-size:15px}#sb_instagram #sbi_load .sbi_follow_btn{margin-left:5px}#sbi_mod_error{display:none;border:1px solid #ddd;background:#eee;color:#333;margin:0;padding:10px 15px;font-size:13px;text-align:center;border-radius:4px}#sbi_mod_error p{padding:5px 0!important;margin:0!important;line-height:1.3!important}#sbi_mod_error ol,#sbi_mod_error ul{padding:5px 0 5px 20px!important;margin:0!important}#sbi_mod_error li{padding:1px 0!important;margin:0!important}#sbi_mod_error span{font-size:12px}#sb_instagram.sbi_medium .sbi_playbtn{font-size:23px;margin-top:-12px;margin-left:-9px}#sb_instagram.sbi_small .sbi_playbtn{font-size:18px;margin-top:-9px;margin-left:-7px}@media all and (max-width:640px){#sb_instagram.sbi_col_3 #sbi_images .sbi_item,#sb_instagram.sbi_col_4 #sbi_images .sbi_item,#sb_instagram.sbi_col_5 #sbi_images .sbi_item,#sb_instagram.sbi_col_6 #sbi_images .sbi_item{width:50%}#sb_instagram.sbi_col_10 #sbi_images .sbi_item,#sb_instagram.sbi_col_7 #sbi_images .sbi_item,#sb_instagram.sbi_col_8 #sbi_images .sbi_item,#sb_instagram.sbi_col_9 #sbi_images .sbi_item{width:25%}#sb_instagram.sbi_width_resp{width:100%!important}}@media all and (max-width:480px){#sb_instagram.sbi_col_10 #sbi_images .sbi_item,#sb_instagram.sbi_col_3 #sbi_images .sbi_item,#sb_instagram.sbi_col_4 #sbi_images .sbi_item,#sb_instagram.sbi_col_5 #sbi_images .sbi_item,#sb_instagram.sbi_col_6 #sbi_images .sbi_item,#sb_instagram.sbi_col_7 #sbi_images .sbi_item,#sb_instagram.sbi_col_8 #sbi_images .sbi_item,#sb_instagram.sbi_col_9 #sbi_images .sbi_item{width:100%}}