Console output: boomerang.rt: [debug] init RThtml{ font-family: sans-serif; }
body{ margin: 0px; }
 header, nav, section{ display: block; }
a{ background-color: transparent; }
 strong{ font-weight: bold; }
h1{ font-size: 2em; margin: 0.67em 0px; }
body{ background-color: rgb(36, 35, 34); color: rgb(85, 85, 85); font-family: Arial, Helvetica, Tahoma, sans-serif; text-rendering: optimizelegibility; background-position: initial initial; background-repeat: initial initial; }
@media only screen and (min-width: 48em){
body{ font-family: Lato, Arial, Helvetica, Tahoma, sans-serif !important; }
}
h1, h2{ font-family: Arial, Helvetica, Tahoma, sans-serif; }
@media only screen and (min-width: 48em){
h1, h2{ font-family: Lato, Arial, Helvetica, Tahoma, sans-serif !important; }
}
section{ background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
a{ text-decoration: none; color: inherit; transition: all 1s ease; -webkit-transition: all 1s ease; }
.vertical-align{ position: relative; top: 50%; }
 .page-template-page-what-i-do .vertical-align{ text-align: center; background-color: transparent; background-position: initial initial; background-repeat: initial initial; }
.offscreen{ position: absolute; clip: rect(1px 1px 1px 1px); padding: 0px; border: 0px; height: 0.063em; width: 0.063em; overflow: hidden; }
.header-inner{ display: table; width: 100%; position: relative; margin-right: auto; margin-left: auto; padding-right: 0px; padding-left: 0px; z-index: 9999 !important; }
@media only screen and (min-width: 48em){
.header-inner{ width: 55%; padding-right: 1.563em; padding-left: 1.563em; }
}
.header-inner > div{ float: none; padding-left: 0px; text-align: center; }
@media only screen and (min-width: 48em){
.header-inner > div{ display: table-cell; padding-top: 0.7em; text-align: left; }
}
@media only screen and (min-width: 62em){
.header-inner > div{ padding-top: 2em; }
}
.header-inner > div a{ color: rgb(247, 247, 247); display: inline-block; vertical-align: middle; font-size: 2em; font-weight: 700; margin: 0px; letter-spacing: -0.063em; text-transform: lowercase; }
@media only screen and (min-width: 48em){
.header-inner > div a{ font-size: 4em; }
}
 .page-template-page-what-i-do .header-inner > div a{ color: rgb(255, 255, 255); }
nav{ font-size: 1em; font-weight: 400; text-transform: uppercase; display: block; float: none; vertical-align: middle; }
@media only screen and (min-width: 48em){
nav{ display: table-cell; }
}
@media only screen and (min-width: 62em){
nav{ font-size: 1.4em; }
}
nav ul{ margin: 0px; padding-left: 0px; list-style: none; text-align: center; }
@media only screen and (min-width: 48em){
nav ul{ text-align: right; }
}
nav li{ display: inline-block; line-height: 1; }
@media only screen and (min-width: 48em){
nav li:last-child a{ padding-right: 0px; }
}
nav li a{ color: rgb(255, 255, 255); display: block; padding: 1em 0.5em; }
@media only screen and (min-width: 48em){
nav li a{ padding: 3em 1em; }
}
.gallery-cover{ box-sizing: border-box; height: 100vh; margin-top: -5.3125em; overflow: hidden; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat no-repeat; }
@media only screen and (min-width: 48em){
.gallery-cover{ margin-top: -7em; }
}
@media only screen and (min-width: 62em){
.gallery-cover{ margin-top: -9.75em; }
}
@media (device-height: 64em) and (device-width: 48em) and (orientation: portrait){
.gallery-cover{ height: 64em; }
}
@media (device-height: 64em) and (device-width: 48em) and (orientation: landscape){
.gallery-cover{ height: 48em; }
}
@media screen and (device-aspect-ratio: 40/71){
.gallery-cover{ height: 31.25em; }
}
@media only screen and (-webkit-device-pixel-ratio: 1) and (device-height: 30em) and (device-width: 20em){
.gallery-cover{ height: 20em; }
}
.gallery-cover div{ padding: 0.5em; position: absolute; bottom: 0px; left: 0px; right: 0px; margin-bottom: 0px; background-color: rgba(0, 0, 0, 0.6); background-position: initial initial; background-repeat: initial initial; }
@media only screen and (min-width: 48em){
.gallery-cover div{ padding: 1em; }
}
.gallery-cover h1{ font-size: 1.3em; font-weight: 300; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; margin: 0px; }
@media only screen and (min-width: 48em){
.gallery-cover h1{ font-size: 1.8em; margin: 0.2em 0px; }
}
@media only screen and (min-width: 62em){
.gallery-cover h1{ font-size: 2.5em; }
}
.gallery-cover h1 span{ font-size: 0.8em; }
 .about-get-in-touch li a{ border: 0px; border-top-left-radius: 0.2em; border-top-right-radius: 0.2em; border-bottom-right-radius: 0.2em; border-bottom-left-radius: 0.2em; cursor: pointer; display: inline-block; padding: 0.6em; outline: 0px; text-decoration: none !important; }
@media only screen and (min-width: 48em){
 .about-get-in-touch li a{ padding: 0.8em 1.2em; }
}
 .page-template-page-what-i-do .gallery-cover h2{ color: rgb(255, 255, 255); font-size: 1.4em; margin-top: 1em; }
@media only screen and (min-width: 48em){
 .page-template-page-what-i-do .gallery-cover h2{ font-size: 2.4em; margin-top: 2em; }
}
.about-get-in-touch{ margin: 0px; padding: 0px; }
.about-get-in-touch li{ padding: 0.4em; display: inline-block; }
.about-get-in-touch li a{ background-color: rgba(0, 0, 0, 0.4); color: rgb(255, 255, 255); border: 0.063em solid rgb(153, 153, 153); text-transform: uppercase; width: 6em; }
.about-content{ padding: 0px 5%; font-size: 1.1em; line-height: 1.45em; }
@media only screen and (min-width: 48em){
.about-content{ padding: 0px 10%; font-size: 1.2em; line-height: 1.45em; }
}
@media only screen and (min-width: 62em){
.about-content{ padding: 0px 15%; font-size: 1.3em; line-height: 1.55em; }
}
@media only screen and (min-width: 75em){
.about-content{ padding: 0px 20%; font-size: 1.4em; line-height: 1.65em; }
}
.about-content{ background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
.about-content{ padding: 1em; }
@media only screen and (min-width: 48em){
.about-content{ padding: 3em 1em; }
}